.note-card {
  cursor: default;
  position: relative;
  width: 240px;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(130, 177, 255);
  transition: box-shadow 0.218s linear;

  &.hide {
    opacity: 0;
  }

  &.note-card--edit-note {
    width: 600px;

    .note-card__select {
      display: none;
    }

    .note-card__toolbar {
      opacity: 1;
      
      > div {
        margin: 0 8px;
      }

      .note-card__toolbar__undo {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiAgPHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik0yNSAxNmMtNS4yOSAwLTEwLjExIDEuOTctMTMuOCA1LjJMNCAxNHYxOGgxOGwtNy4yMy03LjIzQzE3LjU0IDIyLjQ0IDIxLjA5IDIxIDI1IDIxYzcuMDkgMCAxMy4wOSA0LjYxIDE1LjE5IDExbDQuNzMtMS41NkM0Mi4xNyAyMi4wNiAzNC4zIDE2IDI1IDE2eiIvPgo8L3N2Zz4K);

        &[aria-disabled="true"] {
          opacity: 0.25;
          cursor: not-allowed;
        }
      }

      .note-card__toolbar__redo {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiAgPHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik0yNSAxNmMtNS4yOSAwLTEwLjExIDEuOTctMTMuOCA1LjJMNCAxNHYxOGgxOGwtNy4yMy03LjIzQzE3LjU0IDIyLjQ0IDIxLjA5IDIxIDI1IDIxYzcuMDkgMCAxMy4wOSA0LjYxIDE1LjE5IDExbDQuNzMtMS41NkM0Mi4xNyAyMi4wNiAzNC4zIDE2IDI1IDE2eiIvPgo8L3N2Zz4K);
        transform: scaleX(-1);

        &[aria-disabled="true"] {
          opacity: 0.25;
          cursor: not-allowed;
        }
      }

      .note-card__toolbar__done {
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto", arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        height: auto;
        margin-left: auto;
        margin-right: 15px;
        outline: none !important;
        padding: 5px 14px;
        text-transform: uppercase;

        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  &.note-card--take-note {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 600px;

    .note-card__pin {
      visibility: hidden;
    }

    .note-card__select {
      display: none;
    }

    .note-card__textbox {
      color: rgba(0, 0, 0, 0.54);
      min-height: auto;
      padding: 12px 15px 15px 15px;
    }

    .note-card__take-note__list,
    .note-card__take-note__image,
    .note-card__take-note__draw {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      cursor: pointer;
      height: 30px;
      position: absolute;
      top: 8px;
      width: 46px;
      opacity: 0.54;

      &:hover {
        opacity: 0.87;
      }
    }

    .note-card__take-note__list {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgaGVpZ2h0PSIyNHB4Ij4KIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgNCkiPgogIDxwYXRoIGQ9Im0xOCAxNXYtMmgtMTN2MmgxM3ptMC02di0yaC0xM3YyaDEzem0tMTMtNmgxM3YtMmgtMTN2MnptLTQtMS45OTA2djEuOTgxMmMwIDAuMDA5NS0wLjAwMDA5IDAuMDA5NCAwLjAwOTQgMC4wMDk0aDEuOTgxMmMwLjAwOTUgMCAwLjAwOTQgMC4wMDAxIDAuMDA5NC0wLjAwOTR2LTEuOTgxMmMwLTAuMDA5NDkgMC4wMDAxLTAuMDA5NC0wLjAwOTQtMC4wMDk0aC0xLjk4MTJjLTAuMDA5NDkgMC0wLjAwOTQtMC4wMDAwOS0wLjAwOTQgMC4wMDk0em0tMSAwYzAtMC41NTc0OSAwLjQ0MzM1LTEuMDA5NCAxLjAwOTQtMS4wMDk0aDEuOTgxMmMwLjU1NzUgMCAxLjAwOTQgMC40NDMzNSAxLjAwOTQgMS4wMDk0djEuOTgxMmMwIDAuNTU3NS0wLjQ0MzQgMS4wMDk0LTEuMDA5NCAxLjAwOTRoLTEuOTgxMmMtMC41NTc0OSAwLTEuMDA5NC0wLjQ0MzQtMS4wMDk0LTEuMDA5NHYtMS45ODEyem0xIDZ2MS45ODEyYzAgMC4wMDk1LTAuMDAwMDkgMC4wMDk0IDAuMDA5NCAwLjAwOTRoMS45ODEyYzAuMDA5NSAwIDAuMDA5NCAwLjAwMDEgMC4wMDk0LTAuMDA5NHYtMS45ODEyYzAtMC4wMDk1IDAuMDAwMS0wLjAwOTQtMC4wMDk0LTAuMDA5NGgtMS45ODEyYy0wLjAwOTQ5IDAtMC4wMDk0LTAuMDAwMS0wLjAwOTQgMC4wMDk0em0tMSAwYzAtMC41NTc1IDAuNDQzMzUtMS4wMDk0IDEuMDA5NC0xLjAwOTRoMS45ODEyYzAuNTU3NSAwIDEuMDA5NCAwLjQ0MzQgMS4wMDk0IDEuMDA5NHYxLjk4MTJjMCAwLjU1NzUtMC40NDM0IDEuMDA5NC0xLjAwOTQgMS4wMDk0aC0xLjk4MTJjLTAuNTU3NDkgMC0xLjAwOTQtMC40NDM0LTEuMDA5NC0xLjAwOTR2LTEuOTgxMnptMSA1Ljk5OTZ2MS45ODJjMCAwLjAwOS0wLjAwMDA5IDAuMDA5IDAuMDA5NCAwLjAwOWgxLjk4MTJjMC4wMDk1IDAgMC4wMDk0IDAgMC4wMDk0LTAuMDA5di0xLjk4MmMwLTAuMDA5IDAuMDAwMS0wLjAwOS0wLjAwOTQtMC4wMDloLTEuOTgxMmMtMC4wMDk0OSAwLTAuMDA5NCAwLTAuMDA5NCAwLjAwOXptLTEgMGMwLTAuNTU3IDAuNDQzMzUtMS4wMDkgMS4wMDk0LTEuMDA5aDEuOTgxMmMwLjU1NzUgMCAxLjAwOTQgMC40NDMgMS4wMDk0IDEuMDA5djEuOTgyYzAgMC41NTctMC40NDM0IDEuMDA5LTEuMDA5NCAxLjAwOWgtMS45ODEyYy0wLjU1NzQ5IDAtMS4wMDk0LTAuNDQzLTEuMDA5NC0xLjAwOXYtMS45ODJ6Ii8+CiA8L2c+Cjwvc3ZnPgo=);
      right: 120px;
    }

    .note-card__take-note__image {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im00MiAzOHYtMjhjMC0yLjIxLTEuNzktNC00LTRoLTI4Yy0yLjIxIDAtNCAxLjc5LTQgNHYyOGMwIDIuMjEgMS43OSA0IDQgNGgyOGMyLjIxIDAgNC0xLjc5IDQtNHptLTI1LTExbDUgNi4wMSA3LTkuMDEgOSAxMmgtMjhsNy05eiIvPgo8L3N2Zz4K);
      right: 66px;
    }

    .note-card__take-note__draw {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQ4cHgiIHdpZHRoPSI0OHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtNDggMHY0OGgtNDh2LTQ4aDQ4eiIgZmlsbD0ibm9uZSIvPgogPHBhdGggZD0ibTYgMzQuNDl2Ny41MWg3LjQ4bDE1LjA4LTE1LjA3LTcuNS03LjUtMTUuMDYgMTUuMDZ6bTMwLjc0LTI3LjlsNC42NyA0LjY3YzAuNzggMC43OCAwLjggMi4wNyAwLjAyIDIuODVsLTEwLjc0IDEwLjcyLTcuNTItNy41MiA1LjA3LTUuMDctMS40Ni0xLjQ2LTExLjMyIDExLjMyLTIuODEtMi44IDEyLjc1LTEyLjczYzAuNzgtMC43OCAyLjA3LTAuNzYgMi44NSAwLjAybDIuODMgMi44MyAyLjgzLTIuODNjMC43Ny0wLjc4IDIuMDUtMC43OCAyLjgzIDB6Ii8+Cjwvc3ZnPgo=);
      right: 12px;
    }
  }

  .note-card__container {
    position: relative;
  }

  .note-card__title {
    font-family: "Roboto Condensed", arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    min-height: 28px;
    max-width: 210px;
    overflow: hidden;
    padding: 10px 15px 0px 15px;
    text-align: left;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;

    &[contenteditable="true"]:empty:before {
      cursor: text;
      color: rgba(0, 0, 0, 0.54);
      content: attr(data-placeholder);
    }

    &:focus {
      outline: 0;
    }
  }

  .note-card__toolbar {
    bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 25px;
    opacity: 0;
    padding: 4px 0px 9px 0px;
    transition-duration: 0.218s;
    transition-property: opacity;
    transition-timing-function: ease-in;

    &:hover {
      opacity: 1;
    }

    > div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      margin: 0 3px;
      opacity: 0.54;
      width: 32px;

      &:hover {
        opacity: 0.87;
      }
    }

    .note-card__toolbar__remind {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im00MS41NiAyNi4zMmwtMTIuMTEtNi4wM2MtMC40NS0wLjE4LTAuOTMtMC4yOS0xLjQ1LTAuMjloLTJ2LTRoMy41YzMuMzEgMCA2LTIuNjkgNi02cy0yLjY5LTYtNi02Yy0xLjUgMC0yLjI4IDAuNDQtMy41IDEuNXYtMS41YzAtMi4yMS0xLjc5LTQtNC00cy00IDEuNzktNCA0djEuNWMtMS4yMi0xLjA2LTItMS41LTMuNS0xLjUtMy4zMSAwLTYgMi42OS02IDZzMi42OSA2IDYgNmgzLjV2MTYuNjNsLTkuMTQtMS45MWMtMC4yLTAuMDQtMC40MS0wLjA3LTAuNjMtMC4wNy0wLjgzIDAtMS41OCAwLjM0LTIuMTIgMC44OGwtMi4xMSAyLjEzIDEzLjE3IDEzLjE3YzAuNzMgMC43MiAxLjczIDEuMTcgMi44MyAxLjE3aDE4LjEyYzIuMDEgMCAzLjU1LTEuNDggMy44My0zLjQxbDIuMDEtMTQuMDVjMC4wMy0wLjE4IDAuMDQtMC4zNiAwLjA0LTAuNTQgMC0xLjY2LTEuMDEtMy4wOC0yLjQ0LTMuNjh6bS0yMy4wNi0xMi4zMmgtNGMtMi4yMSAwLTQtMS43OS00LTRzMS43OS00IDQtNCA0IDEuNzkgNCA0djR6bTctNGMwLTIuMjEgMS43OS00IDQtNHM0IDEuNzkgNCA0LTEuNzkgNC00IDRoLTR2LTR6Ii8+Cjwvc3ZnPgo=);
    }

    .note-card__toolbar__collaborator {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMTAgOGMxLjY2IDAgMi45OS0xLjM0IDIuOTktM3MtMS4zMy0zLTIuOTktMy0zIDEuMzQtMyAzIDEuMzQgMyAzIDN6bS02IDJ2LTJoMnYtMmgtMnYtMmgtMnYyaC0ydjJoMnYyaDJ6bTYgMGMtMi4zMyAwLTcgMS4xNy03IDMuNXYyLjVoMTR2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==);
    }

    .note-card__toolbar__color {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMjQgNmMtOS45NCAwLTE4IDguMDYtMTggMThzOC4wNiAxOCAxOCAxOGMxLjY2IDAgMy0xLjM0IDMtMyAwLTAuNzgtMC4yOS0xLjQ4LTAuNzgtMi4wMS0wLjQ3LTAuNTMtMC43NS0xLjIyLTAuNzUtMS45OSAwLTEuNjYgMS4zNC0zIDMtM2gzLjUzYzUuNTIgMCAxMC00LjQ4IDEwLTEwIDAtOC44NC04LjA2LTE2LTE4LTE2em0tMTEgMThjLTEuNjYgMC0zLTEuMzQtMy0zczEuMzQtMyAzLTMgMyAxLjM0IDMgMy0xLjM0IDMtMyAzem02LThjLTEuNjYgMC0zLTEuMzQtMy0zczEuMzQtMyAzLTMgMyAxLjM0IDMgMy0xLjM0IDMtMyAzem0xMCAwYy0xLjY2IDAtMy0xLjM0LTMtM3MxLjM0LTMgMy0zIDMgMS4zNCAzIDMtMS4zNCAzLTMgM3ptNiA4Yy0xLjY2IDAtMy0xLjM0LTMtM3MxLjM0LTMgMy0zIDMgMS4zNCAzIDMtMS4zNCAzLTMgM3oiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K);
    }

    .note-card__toolbar__image {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im00MiAzOHYtMjhjMC0yLjIxLTEuNzktNC00LTRoLTI4Yy0yLjIxIDAtNCAxLjc5LTQgNHYyOGMwIDIuMjEgMS43OSA0IDQgNGgyOGMyLjIxIDAgNC0xLjc5IDQtNHptLTI1LTExbDUgNi4wMSA3LTkuMDEgOSAxMmgtMjhsNy05eiIvPgo8L3N2Zz4K);
    }

    .note-card__toolbar__archive {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtNDEuMDkgMTAuNDVsLTIuNzctMy4zNmMtMC41Ni0wLjY2LTEuMzktMS4wOS0yLjMyLTEuMDloLTI0Yy0wLjkzIDAtMS43NiAwLjQzLTIuMzEgMS4wOWwtMi43NyAzLjM2Yy0wLjU4IDAuNy0wLjkyIDEuNTgtMC45MiAyLjU1djI1YzAgMi4yMSAxLjc5IDQgNCA0aDI4YzIuMjEgMCA0LTEuNzkgNC00di0yNWMwLTAuOTctMC4zNC0xLjg1LTAuOTEtMi41NXptLTE3LjA5IDI0LjU1bC0xMS0xMWg3di00aDh2NGg3bC0xMSAxMXptLTEzLjc1LTI1bDEuNjMtMmgyNGwxLjg3IDJoLTI3LjV6Ii8+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==);
    }

    .note-card__toolbar__more {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIHk9IjBweCIgeD0iMHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE4IDE4Ij4KICA8cGF0aCBkPSJtOSA1LjVjMSAwIDEuOC0wLjggMS44LTEuOHMtMC44LTEuNy0xLjgtMS43LTEuOCAwLjgtMS44IDEuOCAwLjggMS43IDEuOCAxLjd6bTAgMS43Yy0xIDAtMS44IDAuOC0xLjggMS44czAuOCAxLjggMS44IDEuOCAxLjgtMC44IDEuOC0xLjgtMC44LTEuOC0xLjgtMS44em0wIDUuM2MtMSAwLTEuOCAwLjgtMS44IDEuOHMwLjggMS43IDEuOCAxLjcgMS44LTAuOCAxLjgtMS44LTAuOC0xLjctMS44LTEuN3oiLz4KPC9zdmc+Cg==);
    }
  }
}
