{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/prefer-stateless-function": "off",
    "import/extensions": "off",
    "react/no-danger": "off",
    "class-methods-use-this": "off",
    "import/no-named-as-default": "off",
    "func-names": "off",
    "react/require-default-props": "off",
    "prefer-template": "off",
    "no-else-return": "off"
  }
}
