{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/prefer-stateless-function": "off",
    "import/extensions": "off",
    "react/no-danger": "off",
    "class-methods-use-this": "off",
    "import/no-named-as-default": "off",
    "func-names": "off",
    "react/require-default-props": "off",
    "prefer-template": "off",
    "no-else-return": "off",
    "linebreak-style": "off", // change this after the holidays
    "jsx-a11y/no-static-element-interactions": "off",
    "no-multi-assign": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-destructuring": "off",
  }
}
