.note-card__pin {
  position: absolute;
  right: 4px;
  top: 5px;
  height: 26px;
  width: 26px;
}

.note-card__pin svg {
  height: 18px;
  width: 18px;
  margin: 3px;
  fill: rgba(0, 0, 0, 0.54);
  transition: fill 0.218s linear;
  cursor: pointer;
}

.note-card__pin svg:hover {
  fill: rgba(0, 0, 0, 0.87);
}

.note-card__pin[aria-pressed="true"] svg {
  fill: #4285f4;
}

.note-card__pin[aria-pressed="true"] svg:hover {
  fill: #4285f4;
}

.note-card__pin:focus,
.note-card__pin svg:focus {
  outline: none;
}

.note-card__pin:focus > svg {
  outline: 1px solid #000;
}
